<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar color="danger">
    <ion-title>
      ประเภทสินค้่า
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="medium" style="width: auto; height: auto;" class="ion-padding">
    <ion-item>
      <ion-input label="น้ำมันเครื่อง"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input label="แบตเตอรี่"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input label="เครื่องแต่ง"></ion-input>
    </ion-item><br>
    <div class="button-type">
      <ion-button color="primary"><ion-icon name="add-circle"></ion-icon>เพิ่มประเภทสินค้า</ion-button>
    </div>
    <div class="bunton-save-cancel">
      <ion-button color="primary" (click)="confirmSave()">บันทึก</ion-button>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-button color="danger" (click)="confirmCancle()">ยกเลิก</ion-button>
    </div>
  </ion-card>
</ion-content>