<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar color="red">
    <ion-title color="light">
      ประเภทสินค้า  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="medium" style="width: auto; height: auto;" class="ion-padding">
    <ion-item>
      <ion-input label="กรอกชื่อประเภทสินค้า :"></ion-input>
    </ion-item>
    <div class="bunton-save-cancel">
      <ion-button color="primary" (click)="confirmSave()">บันทึก</ion-button>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-button color="danger" (click)="confirmCancle()">ยกเลิก</ion-button>
    </div>
  </ion-card>
</ion-content>