ion-button {
    display: flex;
    width: 200px;
    // border: 2px solid red;
  }
  
  .button-type {
    display: flex;
    justify-content: center;
  }
  
  .bunton-save-cancel {
    display: flex;
    padding-top: 15px;
  }