<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" color="light">สินค้าภายในร้าน</ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" color="light" (click)="logout()">
        <h6>ออก</h6>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>สินค้าภายในร้าน</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>เมนูร้านค้า</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="logout" (click)="logout()">
    <h6>ออกจากระบบ</h6>
  </ion-button>
</ion-menu>


<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchProducts()" color="primary" placeholder="กรอกรหัสสินค้า">
  </ion-searchbar>
  <ion-card class="type-button">
    <ion-label class="header-type">เลือกประเภทสินค้า</ion-label>
    <ion-select placeholder="น้ำมันเครื่อง" (ionChange)="Category($event.detail.value)">
      <ion-select-option value="น้ำมันเครื่อง">น้ำมันเครื่อง</ion-select-option>
      <ion-select-option value="อุปกรณ์ตกแต่ง">อุปกรณ์ตกแต่ง</ion-select-option>
      <ion-select-option value="แบตเตอร์รี่">แบตเตอร์รี่</ion-select-option>
    </ion-select>
  </ion-card>

  <ion-card>
    <ion-item class="menu-label" *ngFor="let product of filteredProducts">
      <ion-label>
        <div class="content-product">
          <div class="image-product">
            <img [src]="product.url" alt="">
          </div>
          <div class="menu-product">
            <p class="name">{{ product.name }}</p>
            <p style="color: rgb(255, 0, 0);"> {{ product.primary }} </p>
            <div class="stock-product-buttom">
              <p class="name">จำนวนสินค้า : {{ product.stock }}</p>
              <p class="name">ราคา : {{ product.price }} บาท</p>
            </div>
          </div>
        </div>
        <ion-row class="button-product">
          <ion-col size="3">
            <ion-button class="edit" expand="block" (click)="fix()">
              <p>แก้ไข</p>
            </ion-button>
          </ion-col>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-col size="3" class="sale">
            <ion-button color="primary" expand="block" (click)="sellItem(product)">
              <p>ขาย</p>
            </ion-button>
          </ion-col>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-col size="3">
            <ion-button color="danger" expand="block" (click)="confirmDelete(product)">
              <p>ลบ</p>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>