* {
  display: 0;
  margin: 0;
  box-sizing: border-box;
}


.title {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  background-color: red;
}


ion-searchbar {
  --border-radius: 10px;
}

.header-type {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  border: 1px solid black;
}

.logout {
  display: flex;
  --background: #ffffff;
  width: 100%;
  border-radius: 0px;
  color: black;
  border-top: 1.5px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
}

.type-button {
  max-width: 290px;
  border-radius: 10px;
  display: flex;
  margin: 5px 0px 15px 15px;
}

.menu-label ion-label {
  --display: flex;
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  
  p {
    color: black;
  }
}


.content-product {
  display: flex;
}

.menu-product {
  padding-left: 18px;
}

// .menu-product p{
//   font-size: 20px;
// }

.name {
  color: white;
  font-size: 15px;
  padding-top: 10px;
}

.stock-product-buttom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-product {
  // border: 2px solid red;
  display: flex;
  align-items: center;
}

.image-product img {
  width: 100px;
}

.button-product {
  display: flex;
  padding-top: 10px;
  // border: 2px solid red;
  justify-content: center;
}

.button-product ion-button p{
  color: white;
}

ion-button.edit {
  --background: rgb(255, 190, 13);
}

.center-o ion-button{
  width: 140px;
  text-align: center;
}
