// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-red: #fe101c;
	--ion-color-red-rgb: 254,16,28;
	--ion-color-red-contrast: #000000;
	--ion-color-red-contrast-rgb: 0,0,0;
	--ion-color-red-shade: #e00e19;
	--ion-color-red-tint: #fe2833;
}

.ion-color-red {
	--ion-color-base: var(--ion-color-red);
	--ion-color-base-rgb: var(--ion-color-red-rgb);
	--ion-color-contrast: var(--ion-color-red-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-shade);
	--ion-color-tint: var(--ion-color-red-tint);
}

:root {
	--ion-color-purple: #ae5fd3;
	--ion-color-purple-rgb: 174,95,211;
	--ion-color-purple-contrast: #000000;
	--ion-color-purple-contrast-rgb: 0,0,0;
	--ion-color-purple-shade: #9954ba;
	--ion-color-purple-tint: #b66fd7;
}

.ion-color-purple {
	--ion-color-base: var(--ion-color-purple);
	--ion-color-base-rgb: var(--ion-color-purple-rgb);
	--ion-color-contrast: var(--ion-color-purple-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
	--ion-color-shade: var(--ion-color-purple-shade);
	--ion-color-tint: var(--ion-color-purple-tint);
}

// @import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);
// $font-family-base: "Chakra Petch", sans-serif !default;
// $font-family-ios-base: 'Chakra Petch';
// $font-family-md-base: 'Chakra Petch';
// $font-family-wp-base: 'Chakra Petch';